<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
body {
    background-color: #bdc3c7;
}
form {
    width: 100%;
    background-color: #ecf0f1;
    padding: 25px;
}
.marginTop{
	margin-top:5%;
}
.login-form form {
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.form-control, .btn {
    min-height: 40px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
</style>
</head>

<body>

	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}"> 
					SpringBoot Application</a>
			</div>
		</div>
	</nav>
	
	<br>
	<br>
	<div class = "container">
		<div class = "row marginTop">
			<div class = "login-form col-md-6 col-md-offset-3">
				
				
				<form th:action="@{/login}" method="post">
					<center><h2> Login </h2></center><br>
					<!-- error message -->
					<div th:if="${param.error}">
					 	<div class="alert alert-danger">User Name or Password
					invalid, please verify</div>
					</div>
				
					<!-- logout message -->
					<div th:if="${param.logout}">
						<div class="alert alert-info">You have been logged out.</div>
					</div>
					
					<div class = "form-group">
						<label for ="username"> Username </label> :
						<input type="text" class = "form-control" id ="username" name = "username"
						placeholder="Enter Email ID" autofocus="autofocus">
					</div>
					
					<div class="form-group">
						<label for="password">Password</label>: <input type="password"
							id="password" name="password" class="form-control"
							placeholder="Enter Password" />
					</div>
					
					<div class="form-group">
						<div class="row">
							<div class="col-sm-4 col-sm-offset-0">
								<input type="submit" name="login-submit" id="login-submit"
									class="form-control btn btn-success" value="Log In" />
							</div>
						</div>
					</div>
				</form>
				<br>
				<div class="row>">
					<button type="button" class="btn btn-primary btn-lg btn-block">
					<a href="/" th:href="@{/registration}" style="color:white;">
					Create an Account</button>				
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>